.recommended-friends {
  margin: 25px 0px;
  border-bottom: var(--main-border);
  border-top: var(--main-border);
  padding: 25px 0px;
}

.recommended-friends__title {
  font-size: 16px;
  color: var(--grey);
}

.recommended-friends span {
  margin: 100px 0;
  display: block;
  text-align: center;
  color: var(--grey);
  font-size: 24px;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: var(--grey);
  margin-bottom: 25px;
}

.open-chat__header span {
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post__members {
  margin-top: 4px;
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  opacity: 0.5;
  font-size: 16px;
}

.open-post__members .divider {
  width: 2px;
  height: 15px;
  margin: 0px 5px;
  background-color: var(--grey);
}

.open-post__member-status {
  color: #ffb0e0;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 15px;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
}

.open-post__heart-count span {
  margin-left: 5px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(2);
  }
  100% {
    color: white;
    transform: none;
  }
}

.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
