.more-screen .icon-row {
  margin-top: 50px;
}

.more-suggestions {
  margin-top: 50px;
  padding-top: 40px;
  border-top: 1px solid var(--grey);
}

.more-suggestions__title {
  font-size: 20px;
  margin-bottom: 30px;
}

.more-suggestions__icons {
  display: flex;
}

.more-suggestions__icon {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
  background-color: var(--yellow);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.more-suggestions__icon-image i {
  font-size: 32px;
}
