.icon-row {
  display: flex;
  color: rgba(0, 0, 0, 0.7);
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
}

.icon-row__icon i {
  font-size: 45px;
}

.icon-row__icon span {
  margin-top: 20px;
}
